PORT = 5000
DB_URI = mongodb+srv://<username>:<password>@<cluster>.fythg.mongodb.net/<database>?retryWrites=true&w=majority
PUBLIC_VAPID_KEY = <key generated with ./node_modules/.bin/web-push>
PRIVATE_VAPID_KEY = <key generated with ./node_modules/.bin/web-push>
