div #navbar {
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: #25201d;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right {
    margin: 15px;
}

.left {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 40px;
    margin: 15px;
}

.home {
    
}

.rightElement {
    margin: 15px;
}